<form>
<%= select_tag 'tool_select', grouped_options_for_select(@tool_select_groups, @tool) %>
</form>

<script>
$('#tool_select').on('change', function() {
  var baseUrl = "<%= stability_url %>?tool=";
  window.location = baseUrl + this.value;
});
</script>

<h2><%= @tool %> Stability</h2>

<h3>Stability per version in %</h3>
<canvas id="stability"></canvas>

<script type="text/javascript">
  function generateGraph(sel, data, labels) {
    var ctx = $(sel).get(0).getContext("2d");
    var data = {
      labels: labels,
      datasets: data
    };
    var myLineChart = new Chart(ctx , {
      type: "line",
      data: data,
      scaleBeginAtZero: true,
      responsive: true,
      animation : false,
      multiTooltipTemplate: "<\%= datasetLabel %> - <\%= value %>"
  });
  }

  generateGraph("#stability", <%= raw(@raw_graph.to_json) %>, <%= raw(@versions) %>)
</script>
